<a href="https://colab.research.google.com/github/EmmanuelFelipe/curso-extensao-python-2023-1/blob/main/projeto_filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projeto teste utilizando a base movies.xlsx disponibilizado no data.world

https://data.world/jamesgaskin/movies

In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_excel("movies.xlsx")
display(movies_df.head())

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating Count,Summary
0,1.0,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2.0,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3.0,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4.0,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5.0,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [5]:
# Criar uma coluna "Obs" que tenha nela escrito "ALTO CUSTO" quando a coluna Budget for maior que 10000000.0
movies_df["obs"] = None
movies_df.loc[movies_df["Budget"] > 10000000.0, "obs"] = "ALTO CUSTO"
display(movies_df)

,MovieID,Title,MPAA_Rating,Budget,Gross,Release_Date,Genre,Runtime,Rating,Rating Count,Summary,obs
0,1.0,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on...",None
1,2.0,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...,None
2,3.0,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b...",ALTO CUSTO
3,4.0,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...,ALTO CUSTO
4,5.0,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret...",ALTO CUSTO
...,...,...,...,...,...,...,...,...,...,...,...,...
629,631.0,Encanto,PG,150000000.0,226163416.0,2021-11-24,Family,109.0,7.3,159279.0,A Colombian teenage girl has to face the frust...,ALTO CUSTO
630,632.0,Dune,PG-13,165000000.0,400195457.0,2021-10-22,Action,155.0,8.1,504538.0,Feature adaptation of Frank Herbert's science ...,ALTO CUSTO
631,633.0,No Time to Die,PG-13,250000000.0,765199095.0,2021-10-08,Action,163.0,7.3,323556.0,James Bond has left active service. His peace ...,ALTO CUSTO
632,634.0,"tick, tick…BOOM!",PG-13,55000000.0,106457.0,2021-11-12,Musical,115.0,7.5,82101.0,"On the cusp of his 30th birthday, a promising ...",ALTO CUSTO
633,635.0,Venom: Let There Be Carnage,PG-13,110000000.0,212500000.0,2021-10-01,Action,157.0,6.0,180165.0,Eddie Brock attempts to reignite his career by...,ALTO CUSTO